<web-app>

  <!-- General description of your Web application -->
  <display-name>
      Project 4 - CNT 4714 Spring 2022 - Root User
  </display-name>

  <!-- Root Servlet definitions -->
  <servlet>
    <servlet-name>RootUserAppServlet</servlet-name>
	<description> root user servlet  </description>
    <servlet-class>RootUserAppServlet</servlet-class>
    <init-param>
     <param-name>databaseDriver</param-name>
     <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
     <param-name>databaseName</param-name>
     <param-value>jdbc:mysql://localhost:3306/project4</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>

  <!-- Root Servlet mappings -->
  <servlet-mapping>
    <servlet-name>RootUserAppServlet</servlet-name>
    <url-pattern>/RootUserAppServlet</url-pattern>
  </servlet-mapping>


 <!-- Client Servlet definitions -->
 <servlet>
    <servlet-name>ClientUserAppServlet</servlet-name>
	<description> client user servlet  </description>
    <servlet-class>ClientUserAppServlet</servlet-class>
    <init-param>
     <param-name>databaseDriver</param-name>
     <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
     <param-name>databaseName</param-name>
     <param-value>jdbc:mysql://localhost:3306/project4</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>client</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>client</param-value>
    </init-param>
  </servlet>

  <!-- Client Servlet mappings -->
  <servlet-mapping>
    <servlet-name>ClientUserAppServlet</servlet-name>
    <url-pattern>/ClientUserAppServlet</url-pattern>
  </servlet-mapping>

</web-app>
